<h1>About Us</h1>
<hr>
<div class="grid-container">
    <div class="grid-item">
        <div class="card">
            <div class="card-main">
                <div class="card-section is-active" id="about">
                    <div class="card-header">
                        <h1 class="card-fullname">Akanksha Ramgirwar</h1>
                        <h2 class="card-jobtitle">UI Developer</h2>
                    </div>
                    <div class="card-content">
                        <div class="card-subtitle">ABOUT</div>
                        <p class="card-desc">Akanksha has played a very sensitive role in developing and designing UI of
                            the TruCrm,
                            she is the Team leader and cheif designer of the team. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="card-main">
                <div class="card-section is-active" id="about">
                    <div class="card-header">
                        <h1 class="card-fullname">Jayanti Purohit</h1>
                        <h2 class="card-jobtitle">Frontend Developer</h2>
                    </div>
                    <div class="card-content">
                        <div class="card-subtitle">ABOUT</div>
                        <p class="card-desc">She has developed our thoughts and prototype into a model.
                            And she has developed a frontend design of our project.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-item">
        <div class="card">
            <div class="card-main">
                <div class="card-section is-active" id="about">
                    <div class="card-header">
                        <h1 class="card-fullname">Ishika Naikele</h1>
                        <h2 class="card-jobtitle">Software tester</h2>
                    </div>
                    <div class="card-content">
                        <div class="card-subtitle">ABOUT</div>
                        <p class="card-desc">She has tested all the layers of our project and made the consistency of
                            our project at each layers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="card-main">
                <div class="card-section is-active" id="about">
                    <div class="card-header">
                        <h1 class="card-fullname">Ayush Agrawal</h1>
                        <h2 class="card-jobtitle">Backend Developer</h2>
                    </div>
                    <div class="card-content">
                        <div class="card-subtitle">ABOUT</div>
                        <p class="card-desc">He has designed a formation of our project and connected the UI layer with
                            the database and also responsible for database security and integrity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>